{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<section class="position-relative h-100 pt-5 pb-4">

        <!-- Sign up form -->
        <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
          <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
            <h1 class="text-center text-xl-start">One Time Password</h1>
            <p class="text-center text-xl-start pb-3 mb-3">Already have an account? <a href="{% url 'signin_page' %}">Sign in here.</a></p>
            <form class="needs-validation mb-2" method="post" action="{% url 'otp_verify' %}" novalidate>
              {% csrf_token %}
              
              <div class="mb-4">
                <label for="otp" class="form-label fs-base">OTP</label>
                <div class="password-toggle">
                  <input type="password" name="otp" id="otp" class="form-control form-control-lg" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox">
                    <span class="password-toggle-indicator"></span>
                  </label>
                  <div class="invalid-feedback position-absolute start-0 top-100">Please enter your otp!</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Verify</button>
            </form>
            <hr class="my-4">
            <h6 class="text-center mb-4">Or sign up with your social network</h6>
            <div class="row row-cols-1 row-cols-sm-2">
              <div class="col mb-3">
                <a href="#" class="btn btn-icon btn-secondary btn-google btn-lg w-100">
                  <i class="bx bxl-google fs-xl me-2"></i>
                  Google
                </a>
              </div>
              <div class="col mb-3">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-lg w-100">
                  <i class="bx bxl-facebook fs-xl me-2"></i>
                  Facebook
                </a>
              </div>
            </div>
          </div>
          <div class="w-100 align-self-end">
            <p class="fs-xs text-center text-xl-start pb-2 mb-0">
              &copy; All rights reserved. Made by 
              <a class="nav-link d-inline-block p-0" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a>
            </p>    
          </div>
        </div>
        
        <!-- Background -->
        <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url({% static 'assets/img/account/signin-bg.jpg' %});"></div>
      </section>
{% endblock %}